body {
  background-color: #d9d9d9;
}
input::placeholder {
  color: white;
}
button {
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  background: #a39e9e;
  color: white;
}
button:hover {
  background: white;
  color: #a39e9e;
}
input {
  background-color: #a39e9e;
  font-weight: bolder;
  margin-left: 20px;
}
.usernameIcon {
  display: flex;
  justify-content: left;
  padding-left: 5px;
  margin: 0;
  margin-left: 15px;
  width: 100%;
}
.usernameText {
  border-radius: 10px;
  background: #a39e9e;
  color: white;
  padding: 5px;
  margin: 0;
}
#ticketingInterface {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

#ticketSubmissionForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #a39e9e;
  color: white;
}
#selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
select {
  background-color: #d9d9d9;
}
::placeholder {
  color: black;
  opacity: 1;
}
#ticketDescription {
  background-color: #d9d9d9;
  resize: none;
  color: black;
  padding: 0;
  border-width: 0;
  height: 30em;
  width: 30vw;
}

#ticketSubmitButtonContainer {
  display: flex;
  flex-direction: row-reverse;
}
div > button {
  background-color: #d9d9d9;
  color: black;
}
div > button:hover {
  background-color: black;
  color: #d9d9d9;
}
#ticketTable{
  background: #a39e9e;
  color: white;
  padding: 10px;
  width: 60vw;
  border-spacing: 15px 27px;
}
#ticketTable > thead > tr > th {
  background-color: #444444;
  color: white;
  padding: 5px;
  margin-right: 15px;
}
td {
  background-color: #d9d9d9;
  color: black;
}
#ticketNum{
  width: 60px;
}
#priority{
  width: 30px;
}
#createdBy{
  width: 80px;
}
#issueType{
  width: 75px;
}
#status{
  width: 30px;
}
#description {
  width: auto;
}

@media (max-width: 1250px) {
  #ticketDescription, #ticketTable{
    width: 100%;
  }
  #ticketingInterface {
    flex-direction: column;
  }
  #ticketListContainer{
    padding-top: 10px;
  }
}