

body {
    background-color: #D9D9D9;
}

button {
    border-radius: 10px;
    background: #A39E9E;
    color: white;
}

input {
    background-color: #A39E9E;
    
    font-weight: bolder;
}
::placeholder {
    color: white;
}

.usernameIcon {
    display: flex;
    justify-content: left;
    padding-left: 5px;
    margin: 0;
    width: 100%;
    
}

.usernameText {
    border-radius: 10px;
    background: #A39E9E;
    color: white;
    padding: 5px;
    margin: 0;
}